<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xingguang.localrun">

    <!-- 程序结束 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 图片选择 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 网络请求框架 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 个推 iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <!-- 推送 -->
        <service
            android:name=".push.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".push.IntentService" />

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b1a2da9f29d9848930000c4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="android" />
        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106961730" />
            </intent-filter>
        </activity>

        <!-- 原来tencent中的id 100424468  -->

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 新浪微博分享 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 友盟End -->


        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 图片选择器 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 图片选择器结束 -->


        <activity
            android:name=".main.view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.view.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".maincode.home.view.activity.LookShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.HomeSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.MineApplyEnterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".maincode.mine.view.activity.MineSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.ModificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.MyGuanzhuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.ClassifShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.ProductdetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.FootPrintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.MyOrderAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.PingLunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.AddressManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.AddressDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.DaiBanMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.DaiBanDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.BuyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".login.view.activity.OtherLoginActivity"></activity>
    </application>

</manifest>