<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingguang.localrun">

    <!-- 程序结束 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 图片选择 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 网络请求框架 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 图片选择器 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 图片选择器结束 -->

        <activity
            android:name=".main.view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maincode.home.view.activity.LookShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.home.view.activity.HomeSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maincode.mine.view.activity.MineApplyEnterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".maincode.mine.view.activity.MineSettingActivity" />
        <activity android:name=".maincode.mine.view.activity.ModificationActivity" />
        <activity android:name=".maincode.mine.view.activity.MyCollectionActivity" />
        <activity android:name=".maincode.mine.view.activity.MyGuanzhuActivity" />
        <activity android:name=".maincode.home.view.activity.ClassifShopActivity" />
        <activity android:name=".maincode.home.view.activity.ProductdetailsActivity" />
        <activity android:name=".maincode.mine.view.activity.FootPrintActivity" />
        <activity android:name=".maincode.mine.view.activity.MyOrderAllActivity" />
        <activity android:name=".maincode.mine.view.activity.PingLunActivity" />
        <activity android:name=".maincode.mine.view.activity.AddressManagementActivity" />
        <activity android:name=".maincode.mine.view.activity.AddressDetailActivity" />
        <activity android:name=".maincode.mine.view.activity.AboutActivity" />
        <activity android:name=".maincode.mine.view.activity.WebViewActivity" />
        <activity android:name=".maincode.home.view.activity.DaiBanMoreActivity" />
        <activity android:name=".maincode.home.view.activity.DaiBanDetailsActivity"></activity>
    </application>

</manifest>